In [1]:
import pandas as pd
import numpy as np

from scipy.special import comb

In [2]:
clustering_output = pd.read_csv(r'flame/intermediatefiles/haloId.csv',sep=' ') #Replace test.csv with path of the input file, input must contain actual and predicted clusterid.

In [3]:
clustering_output

       pointid  actual  predicted
0            0       1          1
1            1       1          1
2            2       2          2
3            3       2          2
4            4       2          2
...        ...     ...        ...
47755      235       1          1
47756      236       1          1
47757      237       1          1
47758      238       1          0
47759      239       1          1

[47760 rows x 3 columns]

In [4]:
def rand_index(actual, pred):    #first argument: actual clusterid list of all points and second argument: predicted clusterid list

    tp_plus_fp = comb(np.bincount(actual), 2).sum()
    tp_plus_fn = comb(np.bincount(pred), 2).sum()
    A = np.c_[(actual, pred)]
    tp = sum(comb(np.bincount(A[A[:, 0] == i, 1]), 2).sum()
             for i in set(actual))
    fp = tp_plus_fp - tp
    fn = tp_plus_fn - tp
    tn = comb(len(A), 2) - tp - fp - fn
    return (tp + tn) / (tp + fp + fn + tn)

In [10]:
rand_index(clustering_output['actual'], clustering_output['predicted'])

0.5215344793861895

In [12]:
clustering_output['actual']

0        1
1        1
2        2
3        2
4        2
        ..
47755    1
47756    1
47757    1
47758    1
47759    1
Name: actual, Length: 47760, dtype: int64

In [6]:
comb(np.bincount(clustering_output['actual']),np.array(2)).sum()

613356009.0

In [7]:
type(clustering_output['actual'])

pandas.core.series.Series